bot:
{
	ipv6 = true;
	server = "localhost";
	port = 6667;
	nick = "TheAllSeeingEye";
	password = "mypassword";
	name = "TheAllSeeingEye";
	user = "TheAllSeeI";
	user_mode = "+BpTx";
	owner = "dwfreed";
	ops = [ "belak", "jsvana", "Thirtysixway" ];
	auth_plugin = "unreal32/anope185";
	channel:
	{
		channel = "#wolfgame";
		part_channels = [ ];
		//mode_on_enter = "+N";
		//channel_mode_on_leave = "-N";
		mode_on_start = "+m";
		mode_on_end = "-m";
		channel_mode_on_die = "+b ";
		channel_mode_on_die_undo = "-b ";
	};
	autovoice:
	{
		//nick = "CIA-"'
		username = "CIA";
		hostname = "cia.atheme.org";
		ip_address = "204.152.223.100";
	};
	log:
	{
		game = "~/.WWW/wolfbot.log";
		qa = "./qa.log";
	};
};
game:
{
	rates:
	{
		wolves = 0.14; // rounded up
		seers = 0.14; // rounded up
		village_drunks = 0.16; // rounded down
		cursed_villagers = 0.16; // rounded down
		harlots = 0.12; // rounded down
		gunmen = 0.1; // rounded down
		angels = 0.09; // rounded down
		traitors = 0.1; // rounded down
		detectives = 0.06; // rounded down
	};
	roles:
	{
		angels = true;
		cursed_villager = true;
		traitors_and_detectives = true;
	};
};
